body {
  margin: 0;
}

#register_wrapper,
#login_wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register_form,
.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 350px;
}

#register_page_title,
#login_page_title {
  margin-bottom: 20px;
}

#main_wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#convert_section {
  display: flex;
}

#convert_section input,
#convert_section select,
#convert_section button {
  margin-right: 10px;
}

#page_title {
  margin-bottom: 40px;
}

.bottomBar {
  background-color: #444;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.topBar {
  background-color: #444;
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.dropDownMenu {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  border-color: #444;
  border-width: 0px;
  cursor: pointer;
}

#invalid_link {
  margin-top: 5px;
}

#tiktok_toast_container,
#youtube_toast_container,
#instagram_toast_container {
  position: fixed;
  background-color: #444;
  top: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
  grid-template-columns: 200px 70px;
  z-index: 9999;
  border-radius: 5px;
  box-shadow: 0 0 6px #ffffffbf;
}

.tiktok_toast_content,
.youtube_toast_content,
.instagram_toast_content {
  padding: 10px;
  width: 400px;
}

#tiktok_x_mark,
#youtube_x_mark,
#instagram_x_mark {
  padding: 4px;
  cursor: pointer;
  color: #fff;
}

@keyframes show {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-10%);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateX(-10%);
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}

.fade-out {
  animation: fadeOut 0.6s ease forwards;
}

.slide-in {
  animation: show 0.6s ease 1 forwards;
}

#convert_result {
  margin-top: 5px;
}
